.CardPost-container {
  border-radius: 5px;
  border: 1px solid #16acb1;
  padding: 10px;
  position: relative;
  &_author {
    font-size: 14px;
  }
  &_title {
    font-size: 20px;
  }
  &_editBtn {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  & span {
    color: red;
  }
}
